.BottlePic {
    width: 40px;
    object-fit: fill;
    transform: translateY(-5%);
    height: 85%;
}

.BottleBtn {
    padding-left: 0%;
    padding-right: 0%;
    border: 0ch;
    background: none;
}