.BottlePic {
    width: 50px;
    object-fit: fill;
    height: auto;
    max-height: 160px;
    opacity: 72%;
}

.BottleBtn {
    padding-left: 0%;
    padding-right: 0%;
    border: 0ch;
    background: none;
}

.Selected {
    opacity: 100%;
}