.FlipViewBtn {
    position: absolute;
    left: 80%;
    top: 90%;
    background-color: aqua;
    border-radius: 100%;
    height: 60px;
    width: 60px;
}

.Photo > img {
    object-fit: fill;
}

.NumSelected {
    align-content: center;
}