.FlipViewBtn {
    position: absolute;
    left: 81%;
    top: 90%;
    background-color: black;
    border-radius: 100%;
    border-color: black;
    height: 60px;
    width: 60px;
}

.Photo > img {
    object-fit: fill;
}

.NumSelected {
    align-content: center;
}