.FlipViewBtn {
    position: fixed;
    left: calc(100vw - 70px);
    bottom: 10px;
    background-color: black;
    border-radius: 100%;
    border-color: black;
    height: 60px;
    width: 60px;
    z-index: 5;
}

.Photo > img {
    object-fit: fill;
}

.NumSelected {
    -webkit-text-fill-color: rgba(255, 255, 255);
    width: 43px;
    top: 23px;
    position: absolute;
    text-align: center;
    z-index: 6;
}