.PhotoHolder {
    background-color: black;
    height: 15vh;

}

.TagPhoto {
    object-fit: cover;
    height: 15vh;
    width: 100vw;

}

.GoBackBtn {
    position: absolute;
    height: 30px;
    background-color: black;
    border: 0;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    top: 10px;
    left: 10px;
}