.TypeSelector {
    display: flex;
    flex-direction: row;
    height: 25vh;
    padding-bottom: calc(485px - 125%);
    column-gap: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
} 

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container {
    position: relative;
    margin-top: -10px;
}

.Holder {
    position: absolute;
    width: 100vw;
    height: 40px;
    background-color: black;
    z-index: 6;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
}

.Disperse {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Hidden {
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    border: 0ch;
    -webkit-text-fill-color: white;
    width: 15%;
}

.BottleLabel {
    position: absolute;
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0%;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.75);
}