.TypeSelector {
    display: flex;
    flex-direction: row;
    padding-bottom: 2.5%;
    height: 43%;
    column-gap: 3px;
    overflow-x: scroll;
} 

.Holder {
    position: absolute;
    width: 100%;
    top: 20%;
    height: 8%;
    background-color: black;
    z-index: 6;
    display: flex;
    justify-content: flex-end;
}

.Hidden {
    background-color: black;
    border: 0ch;
    -webkit-text-fill-color: white;
}